$white: white;
$black: #222;
$gray:#BFB7A8;
$transparent:transparent;


$base01: #fff3b8;
$base02: rgba(255,255,255,0.6);
$main1: #782b28;
// $main2: #C0C080;
$accent: #e91e1e;


$bg-body: $base01;

$bg-header: $main1;
$bg-logo: $white;
$bg-header-texts: $white;

$bg-hero: $white;

$bg-about: $transparent;

$bg-menu: $main1;

$bg-news: $transparent;

$bg-access: $transparent;

$bg-footer: $accent;


$header-h--sm: 105px;
$header-h: 120px;
$max-width: 1200px;
