$white: white;
$black: black;
$gray:gray;
$transparent:transparent;

$box-shadow:0 0 1rem rgba(0, 0, 0, 0.1);

$base01: #FFF3B8;
$base02: rgba(255,255,255,0.6);
$main1: #782b28;
$accent: #e91e1e;

$bgc-body: $base01;
$bgc-btn:$accent;
$color-btn:$white;

$bgc-header: $main1;
$color-header-texts: $white;

$bgc-footer: $main1;
$color-footer-texts: $white;
$color-footer-copyright: rgba(255,255,255,0.6);

$bgc-hero: $white;
$bgc-menu: $base02;
$bgc-news: $base02;
$bgc-news--sp: $transparent;
$bgc-access: $base02;

$header-h--sm: 80px;
$header-h: 100px;

$max-width: 1200px;
$max-width--about: 1080px;

$icon-title-h:40px;
$icon-title-h--sm:24px;

$saturday:blue;
$sunday:red;