$white: white;
$black: #222;
$gray:#BFB7A8;
$transparent:transparent;


$base01: #fff3b8;
$base02: rgba(255,255,255,0.6);
$main1: #782b28;
// $main2: #C0C080;
$accent: #e91e1e;


$bgc-body: $base01;
$bgc-btn:$accent;
$color-btn:$white;

$bgc-header: $main1;
$bgc-logo: $white;
$bgc-header-texts: $white;

$bgc-hero: $white;

$bgc-about: $transparent;

$bgc-menu: $main1;

$bgc-news: $transparent;

$bgc-access: $transparent;

$bgc-footer: $accent;


$header-h--sm: 105px;
$header-h: 120px;
$max-width: 1200px;