@use "../globals" as *;
@use "../parts/common" as *;
@use "../parts/button" as *;
@use "../parts/calendar" as *;

#global-container {
  background-color: $bgc-body;
}
.header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: $header-h;
  background-color: $bgc-header;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 0 4rem;

  @include mq(sm) {
    height: $header-h--sm;
  }

  &__wrap {
    display: flex;
    max-width: 1200px;
    width: 100%;
    // padding: 0 4rem;
    align-items: center;
    justify-content: space-between;

    @include mq(sm) {
      padding: 0 2rem;
    }
  }

  &__logo {
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 0.8;
    }
    svg {
      width: 100%;
    }
  }

  &__logo-wrap {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq(sm) {
      width: 60px;
      height: 60px;
    }
  }

  &__nav {
    display: flex;
    line-height: 1.7;
    font-size: 1.8rem;
    gap: 2.8rem;

    @include mq(sm) {
      display: none;
    }
  }
  &__ul {
    display: flex;
    gap: 2.4rem;
  }
  &__li {
    &.active a {
      border-bottom: 2px solid $accent;
    }
    & a {
      display: block;
      height: 31px;
      color: $color-header-texts;
      transition: color 0.4s;
      &:hover {
        color: rgba(255, 255, 255, 0.3);
        border-bottom: 2px solid $accent;
      }
    }
  }
  &__sns {
    display: flex;
    gap: 2rem;

    & a {
      display: block;
      height: 31px;
      transition: opacity 0.2s ease-in-out;
      &:hover {
        opacity: 0.2;
      }
    }
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $bgc-footer;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 920px;
    width: 100%;
    margin: 9rem auto 7rem;

    @include mq(md) {
      flex-direction: column;
      margin: 6rem auto;
      gap: 6rem;
    }
    @include mq(sm) {
      margin: 6rem auto 4rem;
      gap: 4rem;
    }
  }

  &__logo {
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 0.8;
    }
    svg {
      width: 100%;
    }
  }

  &__logo-wrap {
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__nav {
    display: flex;
    gap: 5.2rem;
    @include mq(md) {
      flex-direction: column;
      gap: 6rem;
    }
  }
  &__ul {
    display: flex;
    gap: 4.8rem;
    font-size: 1.8rem;
    @include mq(sm) {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
  }
  &__li {
    position: relative;
    line-height: 1.7;
    @include mq(sm) {
      line-height: 1;
      font-size: 1.8rem;
    }
    &.active a {
      border-bottom: 0.2rem solid $accent;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0.8rem;
      left: -2.4rem;
      width: 0.2rem;
      height: 1.6rem;
      background-color: gray;
      @include mq(sm) {
        content: none;
      }
    }
    & a {
      display: block;
      height: 3.1rem;
      color: $color-header-texts;
      transition: color 0.4s;
      @include mq(sm) {
        display: inline;
        height: auto;
      }
      &:hover {
        color: rgba(255, 255, 255, 0.3);
        border-bottom: 0.2rem solid $accent;
      }
    }
  }
  &__sns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    @include mq(sm) {
      gap: 1.4rem;
    }

    & a {
      display: block;
      height: 3.1rem;
      transition: opacity 0.2s ease-in-out;
      &:hover {
        opacity: 0.2;
      }
      @include mq(sm) {
        height: auto;
      }

      & img {
        @include mq(sm) {
          height: 2rem;
        }
      }
    }
  }
  &__copyright {
    color: $color-footer-copyright;
    margin-bottom: 3rem;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    @include mq(md) {
      margin-bottom: 2.4rem;
    }
    @include mq(sm) {
      margin-bottom: 1rem;
      font-size: 1rem;
    }
  }
}

main {
  margin-top: $header-h;
  @include mq(sm) {
    margin-top: $header-h--sm;
  }
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50rem;
  margin-bottom: 20rem;

  @include mq(md) {
    margin-top: 30rem;
    margin-bottom: 20rem;
  }
  @include mq(sm) {
    margin-top: 12rem;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    max-width: $max-width--about;
    width: 100%;
    gap: 15rem;
    @include mq(sm) {
      gap: 8rem;
    }
  }

  &__boxs {
    display: flex;
    flex-direction: column;
    gap: 35rem;
    @include mq(md) {
      gap: 20rem;
    }
    @include mq(sm) {
      gap: 0;
    }
  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
    height: auto;

    @include mq(sm) {
      flex-direction: column !important;
    }

    &--01 {
      flex-direction: row-reverse;
      @include mq(md) {
        padding-left: 18rem;
      }
      @include mq(sm) {
        padding: 0;
      }
    }
    &--02 {
      margin-top: 10em;
      @include mq(md) {
        padding-right: 12rem;
      }
      @include mq(sm) {
        padding: 0;
        margin-top: 0;
      }
    }
  }

  &__img {
    position: absolute;
    // z-index: -1;
    width: 100%;
    max-width: 700px;
    height: auto;
    opacity: 0.9;
    @include mq(md) {
      max-width: 400px;
    }
    @include mq(sm) {
      position: static;
      max-width: 100%;
    }
    &--01 {
      top: -27em;
      right: 0;
      @include mq(md) {
        top: -21em;
        right: 0;
      }
      @include mq(sm) {
        top: -2em;
        right: -12em;
      }
    }
    &--02 {
      top: -27em;
      left: 0;
      @include mq(md) {
        top: -21em;
        left: 0;
      }
    }
  }

  & img {
    width: 100%;
    height: 100%;
    aspect-ratio: 700 / 290;
    object-fit: cover;
    @include mq(md) {
      aspect-ratio: 400 / 235;
    }
  }
  &__text {
    position: relative;
    z-index: 1;
    background-color: $base02;
    width: 60rem;
    padding: 3.2rem;
    font-size: 1.6rem;
    line-height: 2;
    letter-spacing: 0.3em;
    @include mq(md) {
      width: 46.8rem;
    }
    @include mq(sm) {
      width: 90%;
      margin: 2rem auto;
      font-size: 1.4rem;
      padding: 3.2rem 1.4rem;
      letter-spacing: 0.2em;
      line-height: 2.6;
    }
  }
}
.menu {
  position: relative;
  overflow: hidden;
  background-color: $bgc-menu;
  padding-bottom: 10rem;
  @include mq(md) {
    margin-top: 5rem;
  }

  &__text-box {
    margin-top: calc(8rem - 0.5em);
    @include mq(sm) {
      margin-top: 5rem;
    }
  }
  &__text {
    color: $black;
    padding: 0 2rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2;
    letter-spacing: 0.3em;
    @include mq(sm) {
      font-size: 1.4rem;
      letter-spacing: 0.2em;
      line-height: 2.6;
    }
  }
  &__loop-box {
    display: flex;
    margin-top: calc(9rem - 0.5em);
    width: 100vw;
    max-width: $max-width;

    @include mq(md) {
      margin-top: calc(8rem - 0.5em);
    }
    @include mq(sm) {
      margin-top: calc(6rem - 0.5em);
    }

    & > ul {
      display: flex;
      align-items: center;

      &:nth-child(1) {
        @include animation(
          $name: loop,
          $duration: 70s,
          $delay: -35s,
          $timing-function: linear,
          $iteration-count: infinite
        );
      }
      &:nth-child(2) {
        @include animation(
          $name: loop2,
          $duration: 70s,
          $timing-function: linear,
          $iteration-count: infinite
        );
      }

      & li {
        width: 16rem;
        margin-right: 2rem;
        transform: scale(0.95);
        transition: all 0.5s;

        @include mq(md) {
          width: 12rem;
        }
        @include mq(sm) {
          width: 6rem;
        }
      }
    }
  }
  & .btn-box {
    margin-top: 12rem;
    @include mq(md) {
      margin-top: 11rem;
    }
    @include mq(sm) {
      margin-top: 8rem;
    }
  }
}
.news {
  margin-top: 15rem;
  padding-bottom: 10rem;
  background-color: $bgc-news;
  @include mq(sm) {
    background-color: $bgc-news--sp;
    margin-top: 0;
  }
  &__box {
    padding: 0 5rem;
    margin-top: 10rem;
    display: flex;
    max-width: 920px;
    margin-inline: auto;
    gap: 3rem;
    // border: 2px dashed #eab075;

    @include mq(md) {
      padding: 0 4rem;
    }
    @include mq(sm) {
      flex-direction: column-reverse;
      max-width: 560px;
      padding: 0 2rem;
      margin-top: 6rem;
    }
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-basis: 50%;
    font-size: 1.4rem;
    line-height: 1.4;
    letter-spacing: 0.2em;
    padding: 2.8rem;
    background-color: #f8f8ffa1;
    // background-color: rgb(185, 148, 74);

    @include mq(sm) {
      width: 100%;
      padding: 2.4rem;
      max-width: 42rem;
      margin-inline: auto;
    }
  }
  &__item {
    display: flex;
    gap: 2em;
    padding-bottom: 0.4em;
  }
  &__item-date {
    font-family: "Noto Sans JP";
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 0.1em;
    @include mq(sm) {
      font-size: 1.2rem;
    }
  }
  &__item-link {
    font-size: 1.4rem;
    letter-spacing: 0.6em;
    line-height: 1.1;
    border-bottom: 1px solid $black;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    @include mq(sm) {
      letter-spacing: 0.14em;
    }
  }

  &__bg-img {
    width: 50%;
    background-image: url(../../images/about-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.9;

    @include mq(sm) {
      display: none;
      height: 120px;
      width: 100%;
      background-position: center;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  & .btn-box {
    margin-top: 10rem;
  }
}

@keyframes loop {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes loop2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

.access {
  margin-top: 15rem;
  padding-bottom: 5em;
  position: relative;
  z-index: 1;
  background-color: $bgc-access;

  @include mq(sm) {
    margin-top: 0;
    &::after {
      height: 274px;
    }
  }


  &__img-box {
    width: 40%;
  }

  &__info {
    width: 70%;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      text-align: center;
    }

    td {
      background: $white;
      padding: 1em 2em;

      &:nth-child(1) {
        font-size: 1.1em;
      }
    }

    &-title {
      background-color: #ccc;
      font-weight: bold;
      text-align: center;
    }

    &__num {
      font-family: "Noto Sans JP";
      font-size: 1.4rem;
      line-height: 1.8;
    }

    &-address,
    &-time,
    &-caution {
      background-color: #f9f9f9;
    }
  }

  &__map-box {
    position: relative;
    width: 100%;
    margin-bottom: 240px;
    padding-top: 37.5%;
    @include mq(sm) {
      margin-bottom: 160px;
      padding-top: 70%;
    }

    & > iframe {
      // border: 0;
      filter: saturate(0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
