@use "../globals" as *;
@use "../parts/common" as *;
@use "../parts/button" as *;
@use "../parts/calendar" as *;

#global-container {
  background-color: $bgc-body;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: $header-h;
  background-color: $bgc-header;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 0 4rem;

  @include mq(sm) {
    height: $header-h--sm;
    padding: 0 2rem;
  }

  &__wrap {
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 6vw;
  }

  &__logo {
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 0.6;
    }
    svg {
      width: 100%;
    }
  }

  &__logo-wrap {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq(sm) {
      width: 60px;
      height: 60px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    line-height: 1.7;
    font-size: 1.8rem;

    @include mq(sm) {
      display: none;
    }
  }
  &__ul {
    display: flex;
    column-gap: 3.2rem;
    row-gap: 1.2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__li a {
    display: block;
    height: 3.2rem;
    color: $color-header-texts;
    transition: color 0.4s;
    font-style: italic;
    &:hover {
      color: rgba(255, 255, 255, 0.6);
      border-bottom: 2px solid $accent;
    }
  }
  &__sns {
    display: flex;
    gap: 2rem;

    & a {
      display: block;
      height: 31px;
      transition: opacity 0.2s ease-in-out;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $bgc-footer;
  margin-top: 20rem;
  @include mq(md) {
    margin-top: 0;
  }
  @include mq(sm) {
    margin-top: 0;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 920px;
    width: 100%;
    margin: 4rem auto;
    gap: 6rem;

    @include mq(md) {
      margin: 5rem auto 3rem;
    }
    @include mq(sm) {
      margin: 4rem auto 2rem;
      gap: 4.8rem;
    }
  }

  &__logo {
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 0.6;
    }
    svg {
      width: 100%;
    }
  }

  &__logo-wrap {
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq(sm) {
      width: 7.2rem;
      height: 7.2rem;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    @include mq(sm) {
      gap: 5rem;
    }
  }
  &__ul {
    display: flex;
    gap: 3.2rem;
    font-size: 1.8rem;
    @include mq(sm) {
      flex-direction: column;
      column-gap: 5.2rem;
      row-gap: 2.4rem;
      flex-wrap: wrap;
      max-height: 20rem;
    }
  }
  &__li {
    position: relative;
    line-height: 1.7;
    @include mq(sm) {
      line-height: 1;
      font-size: 1.8rem;
    }
    & a {
      display: block;
      height: 3.4rem;
      color: $color-header-texts;
      transition: color 0.4s;
      font-style: italic;
      @include mq(sm) {
        height: 2.8rem;
      }
      &:hover {
        color: rgba(255, 255, 255, 0.6);
        border-bottom: 0.2rem solid $accent;
      }
    }
  }
  &__sns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    @include mq(sm) {
      gap: 1.4rem;
    }

    & a {
      display: block;
      height: 3.1rem;
      transition: opacity 0.2s ease-in-out;
      &:hover {
        opacity: 0.6;
      }
      @include mq(sm) {
        height: auto;
      }

      & img {
        @include mq(sm) {
          height: 2rem;
        }
      }
    }
  }
  &__copyright {
    color: $color-footer-copyright;
    margin-bottom: 3rem;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    @include mq(md) {
      margin-bottom: 2.4rem;
    }
    @include mq(sm) {
      margin-bottom: 1rem;
      font-size: 1rem;
    }
  }
}

main {
  max-width: 100%;
}
.news {
  margin-top: 15rem;
  padding-bottom: 10rem;
  max-width: 92rem;
  margin-inline: auto;
  background-color: $bgc-news;
  @include mq(sm) {
    background-color: $bgc-news--sp;
    margin-top: 6rem;
    padding-bottom: 6rem;
  }
  &__box {
    padding: 0 5rem;
    margin-top: 10rem;
    display: flex;
    max-width: 920px;
    margin-inline: auto;
    gap: 3rem;
    // border: 2px dashed #eab075;

    @include mq(md) {
      padding: 0 3rem;
      gap: 2rem;
    }
    @include mq(sm) {
      flex-direction: column-reverse;
      max-width: 560px;
      padding: 0 1rem;
      margin-top: 6rem;
    }
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-basis: 50%;
    font-size: 1.4rem;
    line-height: 1.4;
    letter-spacing: 0.2em;
    padding: 2.8rem;
    background-color: #f8f8ffa1;
    // background-color: rgb(185, 148, 74);
    box-shadow: $box-shadow;

    @include mq(sm) {
      width: 100%;
      padding: 1.2rem;
      max-width: 42rem;
      margin-inline: auto;
    }
  }
  &__item {
    display: flex;
    gap: 2em;
    padding-bottom: 0.4em;
    @include mq(sm) {
      gap: 1.2em;
    }
  }
  &__item-date {
    font-family: "Noto Sans JP";
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 0.1em;
    @include mq(sm) {
      font-size: 1.2rem;
    }
  }
  &__item-link {
    font-size: 1.6rem;
    letter-spacing: 0.1em;
    line-height: 1.1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    @include mq(sm) {
      letter-spacing: 0.18em;
      font-size: 1.4rem;
    }
    & a {
      text-decoration: underline;
      transition: opacity 0.4s;
      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__bg-img {
    width: 50%;
    background-image: url(../../images/about-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.9;

    @include mq(sm) {
      display: none;
      height: 120px;
      width: 100%;
      background-position: center;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  & .btn-box {
    margin-top: 6rem;
  }
}
.menu {
  margin-top: 15rem;
  position: relative;
  background-color: $bgc-menu;
  padding-bottom: 14rem;
  @include mq(sm) {
    margin-top: 6rem;
    padding-bottom: 6rem;
  }

  &__text-box {
    margin-top: calc(8rem - 0.5em);
    @include mq(sm) {
      margin-top: calc(7.7rem - 0.5em);
    }
  }
  &__text {
    color: $black;
    padding: 0 2rem;
    @include mq(sm) {
      font-size: 1.4rem;
    }
  }
  &__loop-box {
    display: flex;
    margin-top: calc(10rem - 0.5em);
    max-width: $max-width;
    overflow: hidden;
    @include mq(sm) {
      margin-top: calc(4.6rem - 0.5em);
    }

    & > ul {
      display: flex;
      align-items: center;

      &:nth-child(1) {
        @include animation(
          $name: loop,
          $duration: 70s,
          $delay: -35s,
          $timing-function: linear,
          $iteration-count: infinite
        );
      }
      &:nth-child(2) {
        @include animation(
          $name: loop2,
          $duration: 70s,
          $timing-function: linear,
          $iteration-count: infinite
        );
      }

      & li {
        width: 10rem;
        margin-right: 2rem;
        transform: scale(0.95);
        transition: all 0.5s;

        @include mq(md) {
          width: 12rem;
        }
        @include mq(sm) {
          width: 6rem;
        }
      }
    }
  }
  & .btn-box {
    margin-top: 12rem;
    @include mq(sm) {
      margin-top: 5rem;
    }
  }
  @keyframes loop {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes loop2 {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-200%);
    }
  }
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32rem;

  @include mq(md) {
    padding-top: 30rem;
  }
  @include mq(sm) {
    padding-top: 6rem;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    max-width: $max-width--about;
    width: 100%;
    gap: 15rem;
    @include mq(sm) {
      gap: 0;
      overflow: hidden;
    }
  }

  &__boxs {
    display: flex;
    flex-direction: column;
    gap: 24rem;
    @include mq(md) {
      gap: 20rem;
    }
    @include mq(sm) {
      gap: 0;
    }
  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: auto;

    @include mq(sm) {
      flex-direction: column !important;
    }

    &--01 {
      flex-direction: row-reverse;
      @include mq(md) {
        padding-left: 18rem;
      }
      @include mq(sm) {
        padding: 0;
      }
    }
    &--02 {
      margin-top: 10em;
      @include mq(md) {
        padding-right: 12rem;
      }
      @include mq(sm) {
        padding: 0;
        margin-top: 0;
      }
    }
  }

  &__img {
    position: absolute;
    // z-index: -1;
    width: 100%;
    max-width: 60rem;
    height: auto;
    opacity: 0.9;
    @include mq(md) {
      max-width: 400px;
    }
    @include mq(sm) {
      position: static;
      max-width: 100%;
    }
    &--01 {
      top: -22em;
      right: 0;
      @include mq(md) {
        top: -21em;
        right: 0;
      }
      @include mq(sm) {
        top: -2em;
        right: -12em;
      }
    }
    &--02 {
      top: -22em;
      left: 0;
      @include mq(md) {
        top: -21em;
        left: 0;
      }
    }
    & img {
      width: 100%;
      height: 100%;
      aspect-ratio: 700 / 290;
      object-fit: cover;
      @include mq(md) {
        aspect-ratio: 400 / 235;
      }
    }
  }

  &__text-box {
    position: relative;
    z-index: 1;
    background-color: $base02;
    width: 60rem;
    padding: 3.2rem;
    box-shadow: $box-shadow;
    opacity: 0;
    @include mq(md) {
      width: 46.8rem;
    }
    @include mq(sm) {
      width: 100%;
      margin: 0 auto;
      padding: 3.2rem 1.4rem;
      line-height: 2.2 !important;
      // box-shadow: inset 0 0px 13px 2px #782b28;
    }
  }
  &__img--mini {
    position: absolute;
    opacity: 0;
    transition: opacity 1.2s !important;
  }
  &__box--01.inview .about__img--mini {
    top: 16%;
    left: 4%;
    transform: rotate(-36deg);
    width: 6rem;
    height: 6rem;
    opacity: 0.6 !important;
  }
  &__box--02.inview .about__img--mini {
    top: 46%;
    right: 2%;
    transform: rotate(-36deg);
    width: 6rem;
    height: 6rem;
    opacity: 0.6 !important;
  }
  & .btn-box {
    padding: 6em;
    background-color: transparent;
    @include mq(sm) {
      background-color: $base02;
    }
  }
}

.blog {
  margin-top: 15rem;
  padding: 0 5rem 10rem;
  max-width: 92rem;
  margin-inline: auto;
  background-color: $bgc-blog;
  display: flex;
  flex-direction: column;
  @include mq(md) {
    padding: 0 3rem 10rem;
  }
  @include mq(sm) {
    padding: 0 1rem 6rem;
    margin-top: 6rem;
  }

  &__text-box {
    @extend .menu__text-box;
  }
  &__article-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.4rem;
    margin-top: calc(4.8rem - 0.5em);
    @include mq(md) {
      margin-top: calc(7rem - 0.5em);
    }
    @include mq(sm) {
      margin-top: calc(4.2rem - 0.5em);
    }
  }
  &__article {
    display: flex;
    flex-direction: column;
    height: 37rem;
    box-shadow: $box-shadow;
    border-radius: 0.6rem;
    overflow: hidden;
    cursor: pointer;
    @include mq(sm) {
      height: 26rem;
    }
    &:hover {
      opacity: 0.6 !important;
    }
    &-img {
      & img {
        height: 24rem;
        width: 100%;
        object-fit: cover;
        @include mq(md) {
          height: 22rem;
        }
        @include mq(sm) {
          height: 16rem;
        }
      }
    }
    &-text-box {
      padding: 1.8rem;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $base02;
      line-height: 1.75;
      letter-spacing: 0.2em;
      @include mq(sm) {
        padding: 1.8rem 1.8rem 1.2rem;
        line-height: 1.5;
      }
    }
    &-title {
      font-size: 1.4rem;
      font-weight: bold;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2;
    }
    &-date {
      font-size: 1.2rem;
      font-weight: normal;
      color: $gray-border;
    }
  }
  & .btn-box {
    margin-top: 12rem;
    @include mq(sm) {
      margin-top: 8rem;
    }
  }
}
.instagram {
  margin-top: 15rem;
  padding: 0 5rem 10rem;
  max-width: 92rem;
  margin-inline: auto;
  background-color: $bgc-blog;
  display: flex;
  flex-direction: column;
  @include mq(md) {
    padding: 0 3rem 10rem;
  }
  @include mq(sm) {
    padding: 0 1rem 6rem;
    margin-top: 6rem;
  }

  &__text-box {
    @extend .menu__text-box;
  }
  &__item-box {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, 1fr);
    margin-top: calc(4.8rem - 0.5em);
    margin-inline: auto;
    @include mq(md) {
      grid-template-columns: repeat(3, 1fr);
      margin-top: calc(7rem - 0.5em);
    }
    @include mq(sm) {
      grid-template-columns: repeat(2, 1fr);
      margin-top: calc(4.2rem - 0.5em);
      max-width: 42rem;
    }
  }
  &__item-img img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 0.6rem;
  }

  & .btn-box {
    margin-top: 12rem;
    @include mq(sm) {
      margin-top: 8rem;
    }
  }
}

.access {
  margin-top: 15rem;
  position: relative;
  z-index: 1;
  background-color: $bgc-access;
  max-width: 92rem;
  padding: 0 5rem 5rem;
  margin-inline: auto;

  @include mq(md) {
    padding: 0 3rem 10rem;
  }
  @include mq(sm) {
    padding: 0 1rem 5rem;
    margin-top: 6rem;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__img-box {
    margin-top: 8rem;

    @include mq(md) {
      margin-top: 8rem;
    }
    @include mq(sm) {
      margin-top: 6rem;
      min-width: 30rem;
      max-width: 50rem;
      margin-inline: auto;
    }
    & img {
      width: 100%;
    }
  }
  &__flex-box {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 6rem;
    @include mq(md) {
      margin-top: 4rem;
      gap: 2.4rem;
    }
    @include mq(sm) {
      flex-direction: column;
      align-items: center;
      margin-top: 3rem;
    }
  }
  &__info-box {
    width: 100%;
    flex-grow: 1;
    @include mq(sm) {
      min-width: 30rem;
      max-width: 50rem;
    }
  }
  &__info {
    display: block;
    border-collapse: collapse;
    font-family: "Noto Sans JP";
    background-color: $base02;
    width: 100%;
    padding: 3rem;
    box-shadow: $box-shadow;
    word-break: break-all;
    @include mq(md) {
      padding: 2.4rem;
    }
    @include mq(sm) {
      padding: 1.8rem;
    }

    tbody {
      display: block;
    }
    tr {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      &:not(:last-child) {
        padding-bottom: 2rem;
        @include mq(sm) {
          padding-bottom: 1.4rem;
        }
      }
    }
    tr + tr {
      border-top: 1px dotted $gray-border;
      padding-top: 2rem;
      @include mq(sm) {
        padding-top: 1.6rem;
      }
    }

    th {
      text-align: left;
      font-weight: bold;
      font-size: 1.6rem;
      min-width: 8em;
      line-height: 1;
      letter-spacing: 0.12em;
      @include mq(sm) {
        font-size: 1.4rem;
        letter-spacing: 0.1em;
      }
    }

    td {
      text-align: left;
      flex-grow: 1;
      font-size: 1.6rem;
      letter-spacing: 0.1em;
      line-height: 1.5;
      margin-top: -0.4em;
      @include mq(sm) {
        font-size: 1.4rem;
        letter-spacing: 0.2em;
        margin-top: -0.2em;
        line-height: 1.4;
      }
    }
    &-address a {
      color: blue;
    }
    &-email,
    &-tell {
      font-weight: 900 !important;
      color: $main1 !important;
      font-size: 1.8rem !important;
      text-decoration: underline !important;
      @include mq(sm) {
        font-size: 1.6rem !important;
        letter-spacing: 0.12em !important;
        margin-top: -0.24em !important;
      }
    }
  }

  &__calendar-box {
    min-width: 30rem;
    width: 100%;
    max-width: 50rem;
  }
  &__map-box {
    margin-top: 3rem;
    @include mq(md) {
      margin-top: 2.4rem;
    }
    @include mq(sm) {
      margin-top: 3rem;
    }
    & h3 {
      font-style: italic;
      letter-spacing: 0.1em;
    }
  }
  &__map {
    position: relative;
    width: 100%;
    padding-top: 37.5%;
    box-shadow: $box-shadow;
    @include mq(md) {
      padding-top: 70%;
    }
    @include mq(sm) {
      padding-top: 70%;
    }

    & > iframe {
      // border: 0;
      filter: saturate(0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
