@use "../globals" as *;
@use "../parts/common" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-h;
  @include mq(sm) {
    height: $header-h--sm;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 2rem 8px 1.6rem;
    margin: 8px auto 8px;

    @include mq(sm) {
      padding: 1.6rem 8px 1.6rem;
      margin: 0 auto 8px;
    }
  }

  &__logo {
    width: 78px;
  }

  &__nav {
    padding-top: 20px;
    line-height: 1.7;
    font-size: 1.8rem;
  }
  &__ul {
    display: flex;
    gap: 4vw;
  }
  &__li {


    &--instagram {
      width: 2.5rem;
      margin-top: 0.4rem;
    }
  }
}

.mobile-menu {
  display: none;

  &__btn {
    display: none;
  }
}

#main-content {
  display: none;
}

.footer {
  display: none;
}
