$pattern: (
  "up": translateY(0.6rem),   //上へ
  "down": translateY(-0.6rem),//下へ
  "left": translateX(8rem),   //左へ
  "right": translateX(-8rem), //右へ
);

//.appearに方向（クラス名up~right）を指定すると.itemの方向を一括指定
@each $key, $value in $pattern {
  .appear.#{$key} {
    &>.item {
      transform: $value;
    }
  }
}

//.item個別に方向を指定可能
@each $key, $value in $pattern {
  .appear>.item.#{$key} {
      transform: $value;
  }
}

.appear {
  &>.item {
    transition: all 0.8s;
    opacity: 0;
  }
  &.inview {
    &>.item {
      opacity: 1;
      transform: none;

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transition-delay: $i * 0.2s;
        }
      }
    }
  }
}

//ゆっくりと出現パターン

@each $key, $value in $pattern {
  .appear-slow.#{$key} {
    &>.item {
      transform: $value;
    }
  }
}
@each $key, $value in $pattern {
  .appear-slow>.item.#{$key} {
      transform: $value;
  }
}

.appear-slow {
  &>.item {
    transition: all 1.2s;
    opacity: 0;
  }
  &.inview {
    &>.item {
      opacity: 1;
      transform: none;

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transition-delay: $i * 0.4s;
        }
      }
    }
  }
}
