@use "../globals" as *;
.btn-box {text-align: center;}
.btn {
  position: relative;
  display: inline-block;
  background-color: $bgc-btn;
  color: $color-btn;
  width: max-content;
  min-width: 32rem;
  padding:1.2em 2.6em 1.2em 2.4em;
  border: none;
  line-height: 0.95;
  font-size: 2rem;
  letter-spacing: 0.16em;
  border-radius: 0.6rem;
  cursor: pointer;
  box-shadow: 0px 1px 4px -1px #000000;
  @include mq(md) {
    font-size: 1.6rem;
  }
  @include mq(sm) {
    padding:1em 2em;
    min-width: 22rem;
    font-size: 1.4rem;

  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 1.2em;
    transform: translateY(-58%);
    width: 10px;
    height: 15px;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.884783 0.422896C1.18519 0.122492 1.65484 0.105098 1.93379 0.384044L8.49978 6.95003L1.97264 13.4772C1.67224 13.7776 1.20258 13.795 0.923635 13.516C0.644688 13.2371 0.662083 12.7674 0.962487 12.467L6.40177 7.02774L0.845931 1.4719C0.566985 1.19295 0.584379 0.723299 0.884783 0.422896Z" fill="white"/></svg>');
    background-size: cover;
    background-repeat: no-repeat;
  }
}
