@use "../globals" as *;

//fonts
/* Lato Regular and Italic */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Lato Bold and Italic */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}


/* Noto Sans JP */
@font-face {
  font-family: 'Noto Sans JP';
  src: url('../fonts/NotoSansJP-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('../fonts/NotoSansJP-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('../fonts/NotoSansJP-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Noto Serif JP */
@font-face {
  font-family: 'Noto Serif JP';
  src: url('../fonts/NotoSerifJP-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}



html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow: visible;
}
body {
  font-family: "Lato", "Noto Sans JP", sans-serif;
  font-feature-settings: "palt";
  letter-spacing: 0.1em;
  line-height: 1;
  font-weight: 500;
  color: $black;
}
a {
  color: $black;
  text-decoration: none;
}
img {
  display: inline-block;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}
// section {
//   scroll-margin-top: 14rem;
//   @include mq(sm) {
//     scroll-margin: 8rem;
//   }
// }
a,button,.btn {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
h3 {
  position: relative;
  font-size: 2rem;
  letter-spacing: 0.16em;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 1.4rem;
  padding-left: 1.8rem;
  @include mq(md) {
    font-size: 1.8rem;
    padding-left: 1.4rem;
    margin-bottom: 1.4rem;
  }
  @include mq(sm) {
    font-size: 1.6rem;
    padding-left: 1.4rem;
    margin-bottom: 1.2rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0.1rem;
    transform: translateY(-50%);
    display: inline-block;
    width: 0.4rem;
    height: 1.2em;
    background-color: $accent;
  }
}

.pc {
  display: block;
  @include mq(sm) {
    display: none;
  }
}
.sp {
  display: none;
  @include mq(sm) {
    display: block;
  }
}
.section-title-box {
  position: relative;
  z-index: 1;
  top: -(calc($icon-title-h / 2));
  margin-bottom: -(calc($icon-title-h / 2));
  text-align: center;
  @include mq(sm) {
    padding-top: 5rem;
    top:0;
  }
}
.section-title {
  color: $main1;
  font-size: 3.2rem;
  line-height: 0.7;
  letter-spacing: 0.1em;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  @include mq(sm) {
    font-size: 2.4rem;
  }
  &-icon {
    height: $icon-title-h;
    margin-bottom: 2.4rem;
    @include mq(sm) {
      height: $icon-title-h--sm;
      margin-bottom: 1.2rem;
    }
  }
  &-sub {
    color: $gray;
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 0.1em;
    font-weight: 600;
    margin-bottom: 0.6em;
    @include mq(sm) {
      font-size: 0.8rem;
    }
  }
}
.text-message {
  font-size: 1.6rem;
  line-height: 2;
  letter-spacing: 0.3em;
  text-align: center;
  // margin-top: calc(8rem - 0.5em);
    @include mq(sm) {
      font-size: 1.4rem;
      line-height: 1.75;
    letter-spacing: 0.2em;
  }
}
.font-en {
  font-weight: 700;
  color: #782b28;
  padding: 0 0.4em;
  letter-spacing: 0.1em;
}
.marker-pan {
  background: linear-gradient(transparent 64%, #eefad2 0%);
}
.marker-kuma {
  background: linear-gradient(transparent 64%, #b84f528a 0%);
}
.kome {
  font-size: 0.8em;
}
