@use "../globals" as *;

///////////////////////////
//
//  z-indexのコンテキスト管理
//  - btn (9999)
//  - menu-wrap
//    - menu (3)
//    - overlay (2)
//
///////////////////////////

.mobile-menu {
  display: none;
  @include mq(sm) {
    display: block;
  }
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: rgba(251, 250, 248, 0.8);
  transform: translateX(763px);
  transition: all 0.5s;

  &__btn {
    position: fixed;
    top: 32px;
    right: 12px;
    z-index: 9999;
    display: none;
    background-color: unset;
    border: none;
    outline: none !important;
    cursor: pointer;
    width: 36px;
    height: 28px;

    @include mq(sm) {
      display: block;
      margin-right: 10px;
    }

    & > span {
      position: absolute;
      left: 0;
      width: 100%;
      background-color: $black;
      height: 1px;
      transition: all 0.4s;

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 13px;
      }
      &:nth-child(3) {
        bottom: 0;
      }
    }
  }

  &__ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 4.5em 0 5.5em;
  }
  &__sns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    filter: invert(1);
  }

  &__li {
    // padding: 20px 0 32px 0;
    font-size: 2rem;
    line-height: 1;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.7s;
}

.menu-open {
  & .mobile-menu {
    transform: translateZ(0);
    &__btn {
      & > span {
        &:nth-child(1) {
          transform: translateY(13px) rotate(-45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-13px) rotate(45deg);
        }
      }
    }
  }
  & .overlay {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}
