@use "../globals/" as *;
@use "../parts/button" as *;

.hero {
  margin-top: calc(#{$header-h} - 2rem);
  @include mq(sm) {
    margin-top: calc(#{$header-h--sm} - 2rem);
  }

  &-wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }

  &__slider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
    // margin-top: 5rem;
    // @include mq(md) {
    //   margin-top: 0;
    // }
    // @include mq(sm) {
    //   margin-top: 0;
    // }

    & :is(img, source) {
      transform: scale(1.2);
      // will-change: width,height;
      width: 100%;
      height: calc(   100svh - #{$header-h});
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;

      @include mq(md) {
        width: 100%;

        height: calc(  100svh - #{$header-h--sm});
        object-fit: cover;
      }
      @include mq(sm) {
        width: 100%;

        height: calc(   100svh - #{$header-h--sm});
        object-fit: cover;
      }
    }
    &.inview :is(img, source) {
      @include animation(
        $name: show,
        $duration: 32s,
        $iteration-count: infinite
      );
    }

    & picture {
      &:nth-child(1) :is(img, source) {
        position: relative;
      }
      &:nth-child(2) :is(img, source) {
        animation-delay: 0s;
      }
      &:nth-child(3) :is(img, source) {
        animation-delay: 8s;
      }
      &:nth-child(4) :is(img, source) {
        animation-delay: 16s;
      }
      &:nth-child(5) :is(img, source) {
        animation-delay: 24s;
      }
    }
  }

  &__texts {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    gap: 4rem;
    // @include mq(md) {
    //   transform: translate(-50%, -50%);
    // }
    @include mq(sm) {
      gap: 2.6rem;
    }
  }
  &__copy {
    font-family: "Noto Serif JP";
    font-size: 3.6rem;
    letter-spacing: 0.3em;
    font-weight: bold;
    color: $white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @include mq(md) {
      font-size: 2.8rem;
      letter-spacing: 0.2em;
    }
    @include mq(sm) {
      font-size: 1.6rem;
      letter-spacing: 0.2em;
      text-shadow: none;
    }
  }
  &__logo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    width: 20rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    @include mq(md) {
      width: 15rem;
    }
    @include mq(sm) {
      width: 10rem;
    }
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
    transform: scale(1);
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}
