.mobile-menu-wrap {
  display: none;
}
@media screen and (max-width: 768px) {
  .mobile-menu-wrap {
    display: block;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(251, 250, 248, 0.8);
  transform: translateX(763px);
  transition: all 0.5s;
}
.mobile-menu .logo {
  padding: 0 40px;
  font-size: 38px;
}
.mobile-menu__btn {
  position: fixed;
  top: 32px;
  right: 12px;
  z-index: 9999;
  display: none;
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
  width: 36px;
  height: 28px;
}
@media screen and (max-width: 768px) {
  .mobile-menu__btn {
    display: block;
  }
}
.mobile-menu__btn > span {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #222;
  height: 1px;
  transition: all 0.4s;
}
.mobile-menu__btn > span:nth-child(1) {
  top: 0;
}
.mobile-menu__btn > span:nth-child(2) {
  top: 13px;
}
.mobile-menu__btn > span:nth-child(3) {
  bottom: 0;
}
.mobile-menu__ul {
  padding-top: 100px;
}
.mobile-menu__li {
  padding: 20px 0 32px 24px;
  font-size: 2rem;
  line-height: 1;
}
.mobile-menu__li--instagram {
  width: 50px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.7s;
}

.menu-open .mobile-menu {
  transform: translateZ(0);
}
.menu-open .mobile-menu__btn > span:nth-child(1) {
  transform: translateY(13px) rotate(-45deg);
}
.menu-open .mobile-menu__btn > span:nth-child(2) {
  opacity: 0;
}
.menu-open .mobile-menu__btn > span:nth-child(3) {
  transform: translateY(-13px) rotate(45deg);
}
.menu-open .overlay {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hero {
  position: relative;
  top: 122px;
}
@media screen and (max-width: 768px) {
  .hero {
    top: 105px;
  }
}
.hero__slider {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero__slider {
    border-radius: 0;
  }
}
.hero__slider :is(img, source) {
  animation-name: show;
  animation-duration: 32s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  height: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.hero__slider picture:nth-child(1) :is(img, source) {
  position: relative;
}
.hero__slider picture:nth-child(2) :is(img, source) {
  animation-delay: 0s;
}
.hero__slider picture:nth-child(3) :is(img, source) {
  animation-delay: 8s;
}
.hero__slider picture:nth-child(4) :is(img, source) {
  animation-delay: 16s;
}
.hero__slider picture:nth-child(5) :is(img, source) {
  animation-delay: 24s;
}
.hero__texts {
  position: absolute;
  bottom: 27%;
  right: 8%;
  z-index: 10;
  width: 20em;
}
@media screen and (max-width: 768px) {
  .hero__texts {
    top: 26%;
    right: -3%;
  }
}
.hero__title {
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.9);
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 4rem;
}
@media screen and (max-width: 768px) {
  .hero__title {
    right: 23%;
    top: 43%;
    font-size: 2.6rem;
  }
}
.hero__catch {
  position: absolute;
  top: 62px;
  right: -37px;
  font-size: 1.3rem;
  color: black;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
}
@media screen and (max-width: 768px) {
  .hero__catch {
    top: 77%;
    right: 20%;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
    transform: scale(1.1);
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Spartan", "Noto Sans JP", sans-serif;
  font-feature-settings: "palt";
  letter-spacing: 0.1em;
  line-height: 1.8;
  color: #222;
}

a {
  color: #222;
  text-decoration: none;
}

img {
  display: inline-block;
  width: 100%;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 8px;
}
@media screen and (max-width: 768px) {
  .wrap {
    padding: 0 10px;
  }
}

.pc {
  display: block;
}
@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .sp {
    display: block;
  }
}

.section-title {
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: center;
}
.section-title img {
  width: 2vw;
  margin: 0 0 6px 16px;
}
@media screen and (max-width: 768px) {
  .section-title img {
    width: 30px;
    margin: 0 0 6px 12px;
  }
}

.bold {
  font-weight: bold;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 120px;
  background-color: white;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .header {
    height: 105px;
  }
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 2rem 8px 1.6rem;
  margin: 8px auto;
}
@media screen and (max-width: 768px) {
  .header__wrap {
    padding: 1.6rem 8px 1.6rem;
    margin: 0 auto 8px;
  }
}
.header__logo {
  width: 78px;
}
.header__nav {
  padding-top: 20px;
  line-height: 1.7;
  font-size: 1.8rem;
}
@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
}
.header__ul {
  display: flex;
  gap: 4vw;
}
.header__li--instagram {
  width: 2.5rem;
  margin-top: 0.4rem;
}

.notice {
  margin-top: 240px;
}
.notice__text {
  width: 57%;
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 768px) {
  .notice__text {
    width: 100%;
  }
}
.notice__time {
  font-family: "Noto Sans JP";
}
.notice__link {
  border-bottom: 1px solid #222;
  font-weight: bold;
  color: #4c7cc1;
}

.about {
  margin-top: 120px;
}
.about .about__02-img, .about .about__01-img {
  width: 480px;
}
@media screen and (max-width: 768px) {
  .about .about__02-img, .about .about__01-img {
    width: 100%;
    margin-bottom: 24px;
  }
}
.about .about__02-text, .about .about__01-text {
  box-sizing: content-box;
  position: absolute;
  top: 80px;
  width: 510px;
  background-color: #fff;
  padding: 36px;
  font-size: 1.4rem;
  line-height: 1.8;
  letter-spacing: 0.3em;
}
@media screen and (max-width: 768px) {
  .about .about__02-text, .about .about__01-text {
    position: static;
    width: 100%;
    padding: 0;
  }
}
.about__01 {
  position: relative;
}
.about__01-img {
  margin: 0 0 0 auto;
}
.about__01-text {
  left: 180px;
}
@media screen and (max-width: 960px) {
  .about__01-text {
    left: 3vw;
  }
}
.about__02 {
  position: relative;
  margin-top: 120px;
}
@media screen and (max-width: 768px) {
  .about__02 {
    margin-top: 60px;
  }
}
.about__02-img {
  margin: 0;
}
.about__02-text {
  right: 180px;
  padding: 36px 36px 143px 36px;
}
@media screen and (max-width: 960px) {
  .about__02-text {
    right: 3vw;
  }
}

.menu {
  margin-top: 160px;
}
.menu__text {
  width: 60%;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.8;
  letter-spacing: 0.3em;
}
@media screen and (max-width: 768px) {
  .menu__text {
    width: 100%;
    text-align: left;
    line-height: 1.8;
    letter-spacing: normal;
  }
}
@media screen and (max-width: 960px) {
  .menu__text {
    width: 82%;
  }
}
.menu__text--01 {
  padding-top: 20px;
}
.menu__loop {
  display: flex;
  height: 300px;
  margin-top: 60px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .menu__loop {
    height: 240px;
    margin-top: 40px;
  }
}
.menu__loop > ul {
  display: flex;
}
.menu__loop > ul:nth-child(1) {
  animation-name: loop;
  animation-duration: 70s;
  animation-timing-function: linear;
  animation-delay: -35s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.menu__loop > ul:nth-child(2) {
  animation-name: loop2;
  animation-duration: 70s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.menu__loop > ul li {
  width: 200px;
  margin-right: 60px;
}
@media screen and (max-width: 768px) {
  .menu__loop > ul li {
    width: 160px;
    margin-right: 14px;
  }
}
.menu__loop > ul li:nth-of-type(2n) {
  padding-top: 60px;
}
@media screen and (max-width: 768px) {
  .menu__loop > ul li:nth-of-type(2n) {
    padding-top: 40px;
  }
}

@keyframes loop {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes loop2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}
.access {
  margin-top: 160px;
}
.access__wrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .access__wrap {
    flex-direction: column;
  }
}
.access__info {
  flex-basis: 40%;
}
@media screen and (max-width: 768px) {
  .access__info {
    margin-top: 24px;
  }
}
.access__info-title {
  position: relative;
  margin-bottom: 60px;
  font-size: 2rem;
}
.access__info-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -18px;
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: #222;
}
.access__info .access__info-caution, .access__info .access__info-time, .access__info .access__info-address {
  font-family: "Noto Sans JP";
  font-size: 1.4rem;
  line-height: 1.8;
}
.access__info-address {
  margin-bottom: 24px;
}
.access__info-time {
  margin-bottom: 32px;
}
.access__map {
  position: relative;
  width: 100%;
  margin-bottom: 240px;
  padding-top: 37.5%;
}
@media screen and (max-width: 768px) {
  .access__map {
    margin-bottom: 160px;
    padding-top: 70%;
  }
}
.access__map > iframe {
  filter: grayscale(100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  padding: 10px 0;
  text-align: center;
}
.footer__copyright {
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */