@charset "UTF-8";
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: rgba(251, 250, 248, 0.8);
  transform: translateX(763px);
  transition: all 0.5s;
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    display: block;
  }
}
.mobile-menu__btn {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  z-index: 9999;
  display: none;
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
  width: 36px;
  height: 28px;
}
@media screen and (max-width: 767px) {
  .mobile-menu__btn {
    display: block;
  }
}
.mobile-menu__btn > span {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: white;
  height: 1px;
  transition: all 0.4s;
}
.mobile-menu__btn > span:nth-child(1) {
  top: 0;
}
.mobile-menu__btn > span:nth-child(2) {
  top: 13px;
}
.mobile-menu__btn > span:nth-child(3) {
  bottom: 0;
}
.mobile-menu__ul {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3.4em;
  padding: 2.4em 0 7.6em;
}
.mobile-menu__sns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  filter: invert(1);
}
.mobile-menu__li {
  font-size: 2rem;
  line-height: 1;
  font-style: italic;
  font-weight: 600;
}
.mobile-menu .section-title-sub {
  letter-spacing: 0.2em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.7s;
}

.menu-open .mobile-menu {
  transform: translateZ(0);
}
.menu-open .mobile-menu__btn > span:nth-child(1) {
  background-color: black;
  transform: translateY(13px) rotate(-45deg);
}
.menu-open .mobile-menu__btn > span:nth-child(2) {
  background-color: black;
  opacity: 0;
}
.menu-open .mobile-menu__btn > span:nth-child(3) {
  background-color: black;
  transform: translateY(-13px) rotate(45deg);
}
.menu-open .overlay {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.btn-box {
  text-align: center;
}

.btn {
  position: relative;
  display: inline-block;
  background-color: #e91e1e;
  color: white;
  width: -moz-max-content;
  width: max-content;
  min-width: 32rem;
  padding: 1.2em 2.6em 1.2em 2.4em;
  border: none;
  line-height: 0.95;
  font-size: 2rem;
  letter-spacing: 0.16em;
  border-radius: 0.6rem;
  cursor: pointer;
  box-shadow: 0px 1px 4px -1px #000000;
}
@media screen and (max-width: 959px) {
  .btn {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 767px) {
  .btn {
    padding: 1em 2em;
    min-width: 22rem;
    font-size: 1.4rem;
  }
}
.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 1.2em;
  transform: translateY(-58%);
  width: 10px;
  height: 15px;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.884783 0.422896C1.18519 0.122492 1.65484 0.105098 1.93379 0.384044L8.49978 6.95003L1.97264 13.4772C1.67224 13.7776 1.20258 13.795 0.923635 13.516C0.644688 13.2371 0.662083 12.7674 0.962487 12.467L6.40177 7.02774L0.845931 1.4719C0.566985 1.19295 0.584379 0.723299 0.884783 0.422896Z" fill="white"/></svg>');
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .hero {
    top: 80px;
  }
}
.hero-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.hero__slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  overflow: hidden;
  margin-top: 100px;
}
@media screen and (max-width: 959px) {
  .hero__slider {
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .hero__slider {
    margin-top: 0;
  }
}
.hero__slider :is(img, source) {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  animation-name: show;
  animation-duration: 32s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 959px) {
  .hero__slider :is(img, source) {
    width: var(--screen-width);
    height: calc(var(--screen-height) - 80px);
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 767px) {
  .hero__slider :is(img, source) {
    width: var(--screen-width);
    height: calc(var(--screen-height) - 80px);
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.hero__slider picture:nth-child(1) :is(img, source) {
  position: relative;
}
.hero__slider picture:nth-child(2) :is(img, source) {
  animation-delay: 0s;
}
.hero__slider picture:nth-child(3) :is(img, source) {
  animation-delay: 8s;
}
.hero__slider picture:nth-child(4) :is(img, source) {
  animation-delay: 16s;
}
.hero__slider picture:nth-child(5) :is(img, source) {
  animation-delay: 24s;
}
.hero__texts {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  z-index: 10;
  gap: 4rem;
}
@media screen and (max-width: 959px) {
  .hero__texts {
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 767px) {
  .hero__texts {
    gap: 2.6rem;
  }
}
.hero__copy {
  font-family: "Noto Serif JP";
  font-size: 3.6rem;
  letter-spacing: 0.3em;
  font-weight: bold;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 959px) {
  .hero__copy {
    font-size: 2.8rem;
    letter-spacing: 0.2em;
  }
}
@media screen and (max-width: 767px) {
  .hero__copy {
    font-size: 1.6rem;
    letter-spacing: 0.2em;
  }
}
.hero__logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__logo {
  width: 20rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (max-width: 959px) {
  .hero__logo {
    width: 15rem;
  }
}
@media screen and (max-width: 767px) {
  .hero__logo {
    width: 10rem;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
    transform: scale(1.1);
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", "Noto Sans JP", sans-serif;
  font-feature-settings: "palt";
  letter-spacing: 0.1em;
  line-height: 1;
  font-weight: 500;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

img {
  display: inline-block;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

section {
  scroll-margin-top: 14em;
}

.pc {
  display: block;
}
@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .sp {
    display: block;
  }
}

.section-title-box {
  position: relative;
  z-index: 1;
  top: -20px;
  margin-bottom: -20px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .section-title-box {
    padding-top: 5rem;
    top: 0;
  }
}

.section-title {
  color: #782b28;
  font-size: 3.2rem;
  line-height: 0.7;
  letter-spacing: 0.1em;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .section-title {
    font-size: 2.4rem;
  }
}
.section-title-icon {
  height: 40px;
  margin-bottom: 2.4rem;
}
@media screen and (max-width: 767px) {
  .section-title-icon {
    height: 24px;
    margin-bottom: 1.2rem;
  }
}
.section-title-sub {
  color: gray;
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: 0.1em;
  font-weight: 600;
  margin-bottom: 0.6em;
}
@media screen and (max-width: 767px) {
  .section-title-sub {
    font-size: 0.8rem;
  }
}

.text-message {
  font-size: 1.6rem;
  line-height: 2;
  letter-spacing: 0.3em;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .text-message {
    font-size: 1.4rem;
    line-height: 1.75;
    letter-spacing: 0.2em;
  }
}

.font-en {
  font-weight: 700;
  font-style: italic;
  color: #782b28;
  padding: 0 0.4em;
  letter-spacing: 0.1em;
}

.marker-pan {
  background: linear-gradient(transparent 64%, #eefad2 0%);
}

.marker-kuma {
  background: linear-gradient(transparent 64%, rgba(184, 79, 82, 0.5411764706) 0%);
}

.kome {
  font-size: 0.8em;
}

.calendar {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffc107;
  border-radius: 8px 8px 0 0;
}
.calendar-header button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.calendar-table {
  width: 100%;
  border-collapse: collapse;
}
.calendar-table th, .calendar-table td {
  width: 14.28%;
  height: 40px;
  text-align: center;
  cursor: pointer;
}
.calendar-table td:hover {
  background-color: #f0f0f0;
}
.calendar-table .active {
  background-color: #ffc107;
  color: black;
}
.calendar #calendar-body .grayed-out {
  color: #d3d3d3;
}
.calendar #calendar-body .saturday {
  color: blue; /* 土曜日の列の色 */
}
.calendar #calendar-body .sunday {
  color: red; /* 日曜日の列の色 */
}
.calendar #calendar-body .grayed-out {
  color: #d3d3d3; /* グレーアウトされた日付 */
}
.calendar #calendar-body .active {
  font-weight: bold; /* 今日の日付を強調表示 */
  background-color: yellow; /* 今日の日付の背景色を設定（任意） */
}

#global-container {
  background-color: #FFF3B8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100px;
  background-color: #782b28;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 0 4rem;
}
@media screen and (max-width: 767px) {
  .header {
    height: 80px;
    padding: 0 2rem;
  }
}
.header__wrap {
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  transition: opacity 0.2s ease-in-out;
}
.header__logo:hover {
  opacity: 0.8;
}
.header__logo svg {
  width: 100%;
}
.header__logo-wrap {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__logo-wrap {
    width: 60px;
    height: 60px;
  }
}
.header__nav {
  display: flex;
  line-height: 1.7;
  font-size: 1.8rem;
  gap: 5rem;
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
.header__ul {
  display: flex;
  gap: 2.4rem;
}
.header__li.active a {
  border-bottom: 2px solid #e91e1e;
}
.header__li a {
  display: block;
  height: 31px;
  color: white;
  transition: color 0.4s;
  font-style: italic;
}
.header__li a:hover {
  color: rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid #e91e1e;
}
.header__sns {
  display: flex;
  gap: 2rem;
}
.header__sns a {
  display: block;
  height: 31px;
  transition: opacity 0.2s ease-in-out;
}
.header__sns a:hover {
  opacity: 0.2;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #782b28;
  margin-top: 20rem;
}
@media screen and (max-width: 959px) {
  .footer {
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    margin-top: 0;
  }
}
.footer__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 920px;
  width: 100%;
  margin: 9rem auto 7rem;
}
@media screen and (max-width: 959px) {
  .footer__wrap {
    flex-direction: column;
    margin: 6rem auto;
    gap: 6rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__wrap {
    margin: 6rem auto 4rem;
    gap: 4rem;
  }
}
.footer__logo {
  transition: opacity 0.2s ease-in-out;
}
.footer__logo:hover {
  opacity: 0.8;
}
.footer__logo svg {
  width: 100%;
}
.footer__logo-wrap {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__nav {
  display: flex;
  gap: 5.2rem;
}
@media screen and (max-width: 959px) {
  .footer__nav {
    flex-direction: column;
    gap: 6rem;
  }
}
.footer__ul {
  display: flex;
  gap: 4.8rem;
  font-size: 1.8rem;
}
@media screen and (max-width: 767px) {
  .footer__ul {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
.footer__li {
  position: relative;
  line-height: 1.7;
}
@media screen and (max-width: 767px) {
  .footer__li {
    line-height: 1;
    font-size: 1.8rem;
  }
}
.footer__li.active a {
  border-bottom: 0.2rem solid #e91e1e;
}
.footer__li::before {
  content: "";
  position: absolute;
  top: 0.8rem;
  left: -2.4rem;
  width: 0.2rem;
  height: 1.6rem;
  background-color: gray;
}
@media screen and (max-width: 767px) {
  .footer__li::before {
    content: none;
  }
}
.footer__li a {
  display: block;
  height: 3.1rem;
  color: white;
  transition: color 0.4s;
}
@media screen and (max-width: 767px) {
  .footer__li a {
    display: inline;
    height: auto;
  }
}
.footer__li a:hover {
  color: rgba(255, 255, 255, 0.3);
  border-bottom: 0.2rem solid #e91e1e;
}
.footer__sns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 767px) {
  .footer__sns {
    gap: 1.4rem;
  }
}
.footer__sns a {
  display: block;
  height: 3.1rem;
  transition: opacity 0.2s ease-in-out;
}
.footer__sns a:hover {
  opacity: 0.2;
}
@media screen and (max-width: 767px) {
  .footer__sns a {
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .footer__sns a img {
    height: 2rem;
  }
}
.footer__copyright {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 3rem;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 959px) {
  .footer__copyright {
    margin-bottom: 2.4rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
}

main {
  margin-top: 100px;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  main {
    margin-top: 80px;
  }
}

.news {
  margin-top: 15rem;
  padding-bottom: 10rem;
  max-width: 92rem;
  margin-inline: auto;
  background-color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 767px) {
  .news {
    background-color: transparent;
    margin-top: 0;
    padding-bottom: 6rem;
  }
}
.news__box {
  padding: 0 5rem;
  margin-top: 10rem;
  display: flex;
  max-width: 920px;
  margin-inline: auto;
  gap: 3rem;
}
@media screen and (max-width: 959px) {
  .news__box {
    padding: 0 4rem;
    gap: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .news__box {
    flex-direction: column-reverse;
    max-width: 560px;
    padding: 0 1rem;
    margin-top: 6rem;
  }
}
.news__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-basis: 50%;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0.2em;
  padding: 2.8rem;
  background-color: rgba(248, 248, 255, 0.631372549);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 767px) {
  .news__list {
    width: 100%;
    padding: 1.2rem;
    max-width: 42rem;
    margin-inline: auto;
  }
}
.news__item {
  display: flex;
  gap: 2em;
  padding-bottom: 0.4em;
}
@media screen and (max-width: 767px) {
  .news__item {
    gap: 1.2em;
  }
}
.news__item-date {
  font-family: "Noto Sans JP";
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  .news__item-date {
    font-size: 1.2rem;
  }
}
.news__item-link {
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  line-height: 1.1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}
@media screen and (max-width: 767px) {
  .news__item-link {
    letter-spacing: 0.2em;
    font-size: 1.4rem;
  }
}
.news__item-link a {
  text-decoration: underline;
}
.news__bg-img {
  width: 50%;
  background-image: url(../../images/about-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.9;
}
@media screen and (max-width: 767px) {
  .news__bg-img {
    display: none;
    height: 120px;
    width: 100%;
    background-position: center;
  }
}
.news__bg-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.news .btn-box {
  margin-top: 6rem;
}

.menu {
  margin-top: 15rem;
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  padding-bottom: 14rem;
}
@media screen and (max-width: 767px) {
  .menu {
    margin-top: 0;
    padding-bottom: 6rem;
  }
}
.menu__text-box {
  margin-top: calc(8rem - 0.5em);
}
@media screen and (max-width: 767px) {
  .menu__text-box {
    margin-top: calc(7.7rem - 0.5em);
  }
}
.menu__text {
  color: black;
  padding: 0 2rem;
}
@media screen and (max-width: 767px) {
  .menu__text {
    font-size: 1.4rem;
  }
}
.menu__loop-box {
  display: flex;
  margin-top: calc(10rem - 0.5em);
  max-width: 1200px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .menu__loop-box {
    margin-top: calc(4.6rem - 0.5em);
  }
}
.menu__loop-box > ul {
  display: flex;
  align-items: center;
}
.menu__loop-box > ul:nth-child(1) {
  animation-name: loop;
  animation-duration: 70s;
  animation-timing-function: linear;
  animation-delay: -35s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.menu__loop-box > ul:nth-child(2) {
  animation-name: loop2;
  animation-duration: 70s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.menu__loop-box > ul li {
  width: 10rem;
  margin-right: 2rem;
  transform: scale(0.95);
  transition: all 0.5s;
}
@media screen and (max-width: 959px) {
  .menu__loop-box > ul li {
    width: 12rem;
  }
}
@media screen and (max-width: 767px) {
  .menu__loop-box > ul li {
    width: 6rem;
  }
}
.menu .btn-box {
  margin-top: 12rem;
}
@media screen and (max-width: 767px) {
  .menu .btn-box {
    margin-top: 5rem;
  }
}
@keyframes loop {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes loop2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50rem;
  margin-bottom: 20rem;
}
@media screen and (max-width: 959px) {
  .about {
    margin-top: 30rem;
    margin-bottom: 20rem;
  }
}
@media screen and (max-width: 767px) {
  .about {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}
.about__wrap {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  width: 100%;
  gap: 15rem;
}
@media screen and (max-width: 767px) {
  .about__wrap {
    gap: 0;
  }
}
.about__boxs {
  display: flex;
  flex-direction: column;
  gap: 35rem;
}
@media screen and (max-width: 959px) {
  .about__boxs {
    gap: 20rem;
  }
}
@media screen and (max-width: 767px) {
  .about__boxs {
    gap: 0;
  }
}
.about__box {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .about__box {
    flex-direction: column !important;
  }
}
.about__box--01 {
  flex-direction: row-reverse;
}
@media screen and (max-width: 959px) {
  .about__box--01 {
    padding-left: 18rem;
  }
}
@media screen and (max-width: 767px) {
  .about__box--01 {
    padding: 0;
  }
}
.about__box--02 {
  margin-top: 10em;
}
@media screen and (max-width: 959px) {
  .about__box--02 {
    padding-right: 12rem;
  }
}
@media screen and (max-width: 767px) {
  .about__box--02 {
    padding: 0;
    margin-top: 0;
  }
}
.about__img {
  position: absolute;
  width: 100%;
  max-width: 60rem;
  height: auto;
  opacity: 0.9;
}
@media screen and (max-width: 959px) {
  .about__img {
    max-width: 400px;
  }
}
@media screen and (max-width: 767px) {
  .about__img {
    position: static;
    max-width: 100%;
  }
}
.about__img--01 {
  top: -22em;
  right: 0;
}
@media screen and (max-width: 959px) {
  .about__img--01 {
    top: -21em;
    right: 0;
  }
}
@media screen and (max-width: 767px) {
  .about__img--01 {
    top: -2em;
    right: -12em;
  }
}
.about__img--02 {
  top: -22em;
  left: 0;
}
@media screen and (max-width: 959px) {
  .about__img--02 {
    top: -21em;
    left: 0;
  }
}
.about img {
  width: 100%;
  height: 100%;
  aspect-ratio: 700/290;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 959px) {
  .about img {
    aspect-ratio: 400/235;
  }
}
.about__text {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.6);
  width: 60rem;
  padding: 3.2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 959px) {
  .about__text {
    width: 46.8rem;
  }
}
@media screen and (max-width: 767px) {
  .about__text {
    width: 100%;
    margin: 0 auto;
    padding: 3.2rem 1.4rem;
    line-height: 2.2 !important;
    box-shadow: none;
  }
}
.about .btn-box {
  padding: 6em;
  background-color: rgba(255, 255, 255, 0.6);
}

.blog {
  margin-top: 15rem;
  padding: 0 5rem 10rem;
  max-width: 92rem;
  margin-inline: auto;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 959px) {
  .blog {
    padding: 0 4rem 10rem;
  }
}
@media screen and (max-width: 767px) {
  .blog {
    padding: 0 1rem 6rem;
    margin-top: 0;
  }
}
.blog__text-box {
  margin-top: calc(8rem - 0.5em);
}
@media screen and (max-width: 767px) {
  .blog__text-box {
    margin-top: calc(7.7rem - 0.5em);
  }
}
.blog__article-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 1.4rem;
  margin-top: calc(4.8rem - 0.5em);
}
@media screen and (max-width: 959px) {
  .blog__article-box {
    margin-top: calc(7rem - 0.5em);
  }
}
@media screen and (max-width: 767px) {
  .blog__article-box {
    margin-top: calc(4.2rem - 0.5em);
  }
}
.blog__article {
  display: flex;
  flex-direction: column;
  height: 37rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
}
@media screen and (max-width: 767px) {
  .blog__article {
    height: 35rem;
  }
}
.blog__article-img img {
  height: 24rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 959px) {
  .blog__article-img img {
    height: 22rem;
  }
}
@media screen and (max-width: 767px) {
  .blog__article-img img {
    height: 24rem;
  }
}
.blog__article-text-box {
  padding: 1.8rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.6);
  line-height: 1.75;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 767px) {
  .blog__article-text-box {
    padding: 1.8rem 1.8rem 1.2rem;
    line-height: 1.5;
  }
}
.blog__article-title {
  font-size: 1.4rem;
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.blog__article-date {
  font-size: 1.2rem;
  font-weight: normal;
  color: #888;
}
.blog .btn-box {
  margin-top: 12rem;
}
@media screen and (max-width: 767px) {
  .blog .btn-box {
    margin-top: 8rem;
  }
}

.access {
  margin-top: 15rem;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 92rem;
  padding: 0 5rem 5rem;
  margin-inline: auto;
}
@media screen and (max-width: 959px) {
  .access {
    padding: 0 4rem 10rem;
  }
}
@media screen and (max-width: 767px) {
  .access {
    padding: 0 1rem 4rem;
    margin-top: 6rem;
  }
}
.access__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.access__img-box {
  margin-top: 8rem;
}
@media screen and (max-width: 959px) {
  .access__img-box {
    margin-top: 8rem;
  }
}
@media screen and (max-width: 767px) {
  .access__img-box {
    margin-top: 6rem;
    min-width: 30rem;
    max-width: 50rem;
    margin-inline: auto;
  }
}
.access__img-box img {
  width: 100%;
}
.access__flex-box {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 6rem;
}
@media screen and (max-width: 959px) {
  .access__flex-box {
    margin-top: 4rem;
    gap: 2.4rem;
  }
}
@media screen and (max-width: 767px) {
  .access__flex-box {
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
}
.access__flex-box h3 {
  position: relative;
  font-size: 2rem;
  letter-spacing: 0.16em;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 1.4rem;
  padding-left: 1.8rem;
}
@media screen and (max-width: 959px) {
  .access__flex-box h3 {
    font-size: 1.8rem;
    padding-left: 1.4rem;
    margin-bottom: 1.4rem;
  }
}
@media screen and (max-width: 767px) {
  .access__flex-box h3 {
    font-size: 1.6rem;
    padding-left: 1.4rem;
    margin-bottom: 1.2rem;
  }
}
.access__flex-box h3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.1rem;
  transform: translateY(-50%);
  display: inline-block;
  width: 0.4rem;
  height: 1.2em;
  background-color: #e91e1e;
}
.access__info-box {
  width: 100%;
  flex-grow: 1;
}
@media screen and (max-width: 767px) {
  .access__info-box {
    min-width: 30rem;
    max-width: 50rem;
  }
}
.access__info {
  display: block;
  border-collapse: collapse;
  font-family: "Noto Sans JP";
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  padding: 3rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  word-break: break-all;
}
@media screen and (max-width: 959px) {
  .access__info {
    padding: 2.4rem;
  }
}
@media screen and (max-width: 767px) {
  .access__info {
    padding: 1.8rem;
  }
}
.access__info tbody {
  display: block;
}
.access__info tr {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.access__info tr:not(:last-child) {
  padding-bottom: 2rem;
}
@media screen and (max-width: 767px) {
  .access__info tr:not(:last-child) {
    padding-bottom: 1.4rem;
  }
}
.access__info tr + tr {
  border-top: 1px dotted #888;
  padding-top: 2rem;
}
@media screen and (max-width: 767px) {
  .access__info tr + tr {
    padding-top: 1.6rem;
  }
}
.access__info th {
  text-align: left;
  font-weight: bold;
  font-size: 1.6rem;
  min-width: 8em;
  line-height: 1;
  letter-spacing: 0.12em;
}
@media screen and (max-width: 767px) {
  .access__info th {
    font-size: 1.4rem;
    letter-spacing: 0.1em;
  }
}
.access__info td {
  text-align: left;
  flex-grow: 1;
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  line-height: 1.5;
  margin-top: -0.4em;
}
@media screen and (max-width: 767px) {
  .access__info td {
    font-size: 1.4rem;
    letter-spacing: 0.2em;
    margin-top: -0.2em;
    line-height: 1.4;
  }
}
.access__info-address a {
  color: blue;
}
.access__info-email, .access__info-tell {
  font-weight: 900 !important;
  color: #782b28 !important;
  font-size: 1.8rem !important;
  text-decoration: underline !important;
}
@media screen and (max-width: 767px) {
  .access__info-email, .access__info-tell {
    font-size: 1.6rem !important;
    letter-spacing: 0.12em !important;
    margin-top: -0.24em !important;
  }
}
.access__calendar-box {
  min-width: 30rem;
  width: 100%;
  max-width: 50rem;
}
.access__map-box {
  position: relative;
  width: 100%;
  margin-top: 6rem;
  padding-top: 37.5%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 959px) {
  .access__map-box {
    margin-top: 4rem;
    padding-top: 70%;
  }
}
@media screen and (max-width: 767px) {
  .access__map-box {
    margin-top: 2.4rem;
    padding-top: 70%;
  }
}
.access__map-box > iframe {
  filter: saturate(0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=style.css.map */